.box_container{
    padding:20px;
    height:auto;
    width:350px;
    border: 2px solid white ;
    border-radius:10px;
    margin:40px !important;
   
}
.projecticons img{
  width: 100px ;
  height:100px ;
  border-radius:50% ;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 5s infinite;
}


#Skill{
  height:auto !important;
  margin-top:80px !important;
}

.img_container {
    display: block; 
    margin: 0 auto; 
    width:auto;
    
}
.img_height{
    /* height:300px !important ;
    width:auto !important ; */
    border-radius:10px
}
.description{
    margin-top: 10px;
    left: 0 !important;
    text-align: justify;
}

html{
    scroll-behavior:smooth;
}




.heading{
    padding:1rem 0 ;
}
.swiper_container{
    height:52rem;
    padding:2rem 0 ;
    position:relative;
}

.swiper-slide{
    /* height:100%;*/
    width:100%; 
  display:block;
  position:relative;
  transition-property: transform ;
  

}



.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}


  
  .slider-controler .slider-arrow {
    background: #1abc9c;
    width: 5rem;
    height: 3rem;
    border-radius:50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    margin-top:40px !important;
  }

  .slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px #1abc9c);
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: #1abc9c;
  }

  .swiper {
    overflow:visible !important;
    padding-top: 50px;
    padding-bottom: 50px;
    width:80% !important;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    flex-shrink: 100 !important;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
   
  }
  .swiper-pagination{
    position:relative !important;
    margin-top:60px ;
  }
  .btn1{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.description > p {
  font-size:15px;
  font-weight:300px;
}
  /* MEDIUM MEDIA QUERY */

@media screen and (max-width: 1024px) {
 #Skill{
  margin-top:80px !important;
 }
  .swiper {
    overflow:visible !important;
    padding-top: 50px;
    padding-bottom: 50px;
    width:auto !important;
  } 
  
  .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
    margin:50px
  } 
  .swiper-pagination{
    position:relative !important;
   left:20px !important;
   
  }
}
@media screen and (max-width: 600px) {
  .box_container {
      width: auto;
      margin: 20px !important;
      padding: 10px;
  }

  .swiper-slide {
      width: 110% !important;
      height: auto !important;
      flex-shrink: 0 !important;
      box-sizing: border-box !important;
  }

  .swiper_container {
      height: auto;
  }

  .slider-controler .slider-arrow {
      width: 5rem;
      height: 3rem;
      left:30%;
      
      
  }

  .slider-controler .swiper-button-next {
      left: 50% !important;
      transform: translateX(-50%) !important;
  }

  .swiper-pagination {
      margin-top: 90px;
      bottom: var(--swiper-pagination-bottom, 28px) !important;
      left:-2% !important
  }

  #Skill {
      margin-top: 60px !important;
  }
  .swiper{
    overflow:hidden !important;
  }
 
 
}