.m_container{
  margin-top: 60px;
  
}

#contact {
    background: transparent;
    padding: 20px;
  
  }
  
  .contact {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
   background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin-top: 20px;
    font-size: large;
    background: hsla(0, 0%, 100%, .05);
  }
  
  .contact h5 {
    color: #333;
  }
  
  .contact h2 {
    color: #222;
  }
  
  .contact_container {
    margin-top: 20px;
  }
  
  form {
    display: grid;
    gap: 15px;
  }
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #1abc9c;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: transparent;
    color: white;
   

  }
.button{
    height: 40px;
    font-size: large;
    font-weight: 700;
}

 
  