.skill_container{
    margin-top: 2rem;
    display: flex;
    padding: 20px 40px;
    gap: 10px;
    justify-content: space-evenly;
    
    
}
.projecticons > img{
    background-color: transparent !important;
}


.frontend{
    height: fit-content;
    width: 250px;
    background-color: transparent;
    border-radius: 10px;
    padding: 13px 10px 10px 20px;
    border: 1px solid ;
    backdrop-filter: blur(15px);
    z-index:20;
    transition: 1s;
   
    
}
.skill_box{
    font-size: 50px;
    
}
.first_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 35px;
    /* filter: drop-shadow(0.45em 0.45em 20px #1abc9c); */
}

.frontend  > h3{
    text-align: center;
}

.backend{
    height:  fit-content;
    width: 250px;
    background-color: transparent;
    border-radius: 10px;
    padding: 13px 10px 10px 20px;
    border: 1px solid ;
    transition: 1s;
}

.second_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 35px;
    
}

.backend  > h3{
    text-align: center;
}

.extra{
    height:  fit-content;
    width: 250px;
    background-color: transparent;
    border-radius: 10px;
    padding: 13px 10px 10px 20px;
    border: 1px solid ;
    transition: 1s;
}

.third_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 35px;
}

.extra  > h3{
    text-align: center;
}

.frontend:hover{
   transform: scale(1.1);
   z-index: 2;
   background: transparent;

   
}
.backend:hover{
    transform: scale(1.1);
    z-index: 2;
    background: transparent;
 }
.extra:hover{
    transform: scale(1.1);
    z-index: 2;
    background: transparent;
}
.html a:hover{
    color: orangered !important;
}
.js a:hover{
    color: yellow !important;
}
.btp a:hover{
    color: purple !important;
}
.tail a:hover{
    color: lightcyan !important;
}
.react a:hover{
    color: darkblue !important;
}
.node a:hover{
    color: green !important;
}
.express a:hover{
    color: darkslategray !important;
}
.sql a:hover{
    color: darkslategray !important;
}
.mongo a:hover{
    color: green !important;
}
.post a:hover{
    color: darkorange !important;
}
.net a:hover{
    color: darkcyan !important;
}
.git a:hover{
    color: black !important;
}
.figma a:hover{
    color: orangered !important;
}
.canva a:hover{
    color: darkcyan !important;
}

.C a:hover{
    color: darkblue !important;
}



@media screen and (max-width: 1024){
    .skill_container{
      margin-top: 5rem !important;
      
    }
    .section{
        height: max-content !important;
    }
}
@media screen and (max-width: 600px) {
    
   .skill_container{
    display: grid;
    gap: 3rem;
    height: auto;
   }
   
   
 }
 